{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    margin-top: {{  section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 50% /* 16:9 Aspect Ratio */
    max-height: 1000px;
    min-height: 500px;
    height: 100%;
    max-width: 1000px;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
{%- endstyle -%}

<!---->
<!--style="max-width: {{ block.settings.map_width }}px; max-height:{{ block.settings.map_height }}px;"-->
<div class="tw-flex tw-justify-center tw-items-center tw-flex-col section-{{ section.id }}-padding" style="max-height: 500px">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}
          style="padding-top: {{ block.settings.heading_padding_top }}px; padding-bottom: {{ block.settings.heading_padding_bottom }}px; margin-top: {{ block.settings.heading_margin_top }}px; margin-bottom: {{ block.settings.heading_margin_bottom }}px;"
        >
          <span class="text-style">{{ block.settings.heading | escape }}</span>
        </h2>
      {%- when 'map' -%}
      <div
        style="margin-top: {{ block.settings.map_margin_top }}px; margin-bottom: {{ block.settings.map_margin_bottom }}px;"
        class="tw-flex tw-justify-center container"
        >
        <iframe
          class="responsive-iframe"
          style="border:0; "
          loading="lazy"
          allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuyTsVzMfU4gR8iMgJx-y_jA&key=AIzaSyAtWYNT2xBWwTAo67f1IWA-HF56vc90RF0">
        </iframe>
      </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Google Maps",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top Margin",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom Margin",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "heading_padding_top",
          "label": "Top Padding",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_padding_bottom",
          "label": "Bottom Padding",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_margin_top",
          "label": "Top Margin",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_margin_bottom",
          "label": "Bottom Margin",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "map",
      "name": "Google Map",
      "limit": 1,
      "settings": [
        {
          "type": "number",
          "id": "map_width",
          "label": "Map Width (px)",
          "default": 600
        },
        {
          "type": "number",
          "id": "map_height",
          "label": "Map Height (px)",
          "default": 400
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "map_margin_top",
          "label": "Top Margin",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "map_margin_bottom",
          "label": "Bottom Margin",
          "min": 0,
          "max": 200,
          "step": 4,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Google Maps",
      "category": "Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "map"
        }
      ]
    }
  ]
}
{% endschema %}
